# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
*test.py
.env
*.env
*.log
airflow/logs/
airflow/dags/scripts/__pycache__/
airflow/dags/__pycache__/
airflow/dags/load_rappers.egg-info/
airflow/pgdata/


airflow/gcs-airflow-keyfile.json
gcs-airflow-keyfile.json

