[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
requests = "*"
python-dotenv = "*"
psycopg2 = "*"
numpy = "*"
apache-airflow-providers-dbt-cloud = "*"

[dev-packages]

[requires]
python_version = "3.8"
